In [1]:
import pandas as pd
uriage_data = pd.read_csv("uriage.csv")
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

# エクセルファイルの読み込み

In [2]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

# データ揺れの確認

In [4]:
uriage_data["item_name"].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [5]:
uriage_data["item_price"].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

# 加工せずに集計

## 商品Wや商品Sが揺れにより別商品として計上されていることが把握できる

In [6]:
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])
uriage_data["purchase_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month",columns="item_name", aggfunc="size", fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [8]:
res = uriage_data.pivot_table(index="purchase_month",columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1400,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,2400,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,0,500,1300,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,2300,0,0,0,0,0,0,0,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,0,1900,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,0,2300,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [9]:
print(len(pd.unique(uriage_data.item_name)))

99

# 商品名の表記揺れ修正

In [10]:
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace("　", "")
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
uriage_data.sort_values(by=["item_name"], ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
1721 2019-02-24 19:18:05       商品A       100.0           楠哲平         201902
1708 2019-03-27 17:10:06       商品A       100.0          西脇礼子         201903
1707 2019-03-25 21:42:02       商品A       100.0          浅見広司         201903
234  2019-03-23 09:32:03       商品A       100.0         赤木だん吉         201903
1684 2019-02-17 20:25:57       商品A       100.0          手塚雅之         201902
497  2019-02-11 03:54:57       商品A       100.0           堀江佑         201902
1761 2019-05-04 14:44:55       商品A       100.0          八木雅彦         201905
1658 2019-03-23 20:08:49       商品A       100.0          片瀬長利         201903
1544 2019-01-21 11:49:01       商品A       100.0           藤広之         201901
1513 2019-04-04 18:58:05       商品A       100.0          河村由樹         201904
1500 2019-02-28 17:25:59       商品A       100.0          赤木愛梨         201902
1498 2019-01-19 12:15:21       商品A       100.0            今茜         201901
1481 2019-03-10 03:52:24       商品A       100.0         石川まさみ         201903
1474 2019-04-11 02:22:17       商品A         NaN          堀北雅彦         201904
274  2019-07-27 01:45:18       商品A       100.0          佐藤慶二         201907
1454 2019-01-16 07:35:54       商品A       100.0          平田鉄二         201901
1398 2019-06-13 02:20:26       商品A       100.0          高沢美咲         201906
1394 2019-07-07 21:49:14       商品A         NaN           楠哲平         201907
1576 2019-05-06 02:40:03       商品A       100.0           楠哲平         201905
211  2019-02-12 02:52:39       商品A       100.0          日野夏希         201902
210  2019-07-08 04:17:01       商品A       100.0          平田鉄二         201907
1835 2019-06-20 12:57:54       商品A       100.0          古川信吾         201906
2384 2019-04-27 02:50:16       商品A       100.0            林勇         201904
117  2019-06-14 09:08:17       商品A       100.0         深井菜々美         201906
2352 2019-07-28 07:55:39       商品A       100.0          矢部夏空         201907
...                  ...       ...         ...           ...            ...
214  2019-06-02 01:01:30       商品Y      2500.0           大山咲         201906
707  2019-02-08 19:17:58       商品Y      2500.0          戸塚美幸         201902
2123 2019-06-19 14:40:25       商品Y         NaN          岩沢那奈         201906
2909 2019-04-27 21:33:34       商品Y      2500.0           横田遥         201904
2910 2019-05-16 07:16:37       商品Y      2500.0          松田浩正         201905
702  2019-06-20 19:09:02       商品Y      2500.0          亀井一徳         201906
198  2019-04-13 13:05:25       商品Y      2500.0          杉下悟志         201904
689  2019-05-24 17:03:58       商品Y      2500.0          矢部美幸         201905
1571 2019-05-10 17:54:12       商品Y         NaN          梅津淳子         201905
833  2019-07-29 11:07:10       商品Y      2500.0           大山咲         201907
743  2019-06-09 04:18:56       商品Y      2500.0          福本美幸         201906
26   2019-05-16 04:45:21       商品Y      2500.0          明石家明         201905
2857 2019-06-13 22:19:16       商品Y      2500.0        田辺きみまろ         201906
2446 2019-03-30 18:50:18       商品Y         NaN          梅村秀樹         201903
2679 2019-05-04 13:03:40       商品Y      2500.0          藤木一恵         201905
1882 2019-07-31 16:58:12       商品Y         NaN         五十嵐春樹         201907
805  2019-07-29 07:17:05       商品Y      2500.0          島孝太郎         201907
2452 2019-05-01 17:42:48       商品Y      2500.0          神原美嘉         201905
2889 2019-06-14 10:11:12       商品Y      2500.0          小松季衣         201906
1732 2019-02-20 05:22:25       商品Y         NaN         河内さとみ         201902
2090 2019-06-13 07:18:45       商品Y      2500.0        大城ケンイチ         201906
2100 2019-02-27 01:24:20       商品Y      2500.0          石渡小雁         201902
1878 2019-01-29 13:58:57       商品Y      2500.0         西原未華子         201901
2527 2019-05-17 18:15:27       商品Y      2500.0           松村聡         201905
2526 2019-05-26 10:26:28       商品Y      2500.0           島英嗣         201905
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [11]:
print(pd.unique(uriage_data["item_name"]))
print(len(pd.unique(uriage_data["item_name"])))

['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']
26

# 金額欠損値の補完

In [13]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [18]:
flg_is_null = uriage_data["item_price"].isnull()
# trgには欠損値があるitem_nameが入る
for trg in list(uriage_data.loc[flg_is_null, "item_name"].unique()):
    #同じitem_nameでitem_priceが入力されている列を見つける。"~"は否定
    price = uriage_data.loc[(~flg_is_null) & (uriage_data["item_name"] == trg), "item_price"].max()
    uriage_data["item_price"].loc[(flg_is_null) & (uriage_data["item_name"] == trg)] = price
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [19]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [21]:
for trg in list(uriage_data["item_name"].sort_values().unique()):
    print(trg + "の最大額:" + str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].max())
              + " 最小額:" + str(uriage_data.loc[uriage_data["item_name"]==trg]["item_price"].min(skipna=False)))

商品Aの最大額:100.0 最小額:100.0
商品Bの最大額:200.0 最小額:200.0
商品Cの最大額:300.0 最小額:300.0
商品Dの最大額:400.0 最小額:400.0
商品Eの最大額:500.0 最小額:500.0
商品Fの最大額:600.0 最小額:600.0
商品Gの最大額:700.0 最小額:700.0
商品Hの最大額:800.0 最小額:800.0
商品Iの最大額:900.0 最小額:900.0
商品Jの最大額:1000.0 最小額:1000.0
商品Kの最大額:1100.0 最小額:1100.0
商品Lの最大額:1200.0 最小額:1200.0
商品Mの最大額:1300.0 最小額:1300.0
商品Nの最大額:1400.0 最小額:1400.0
商品Oの最大額:1500.0 最小額:1500.0
商品Pの最大額:1600.0 最小額:1600.0
商品Qの最大額:1700.0 最小額:1700.0
商品Rの最大額:1800.0 最小額:1800.0
商品Sの最大額:1900.0 最小額:1900.0
商品Tの最大額:2000.0 最小額:2000.0
商品Uの最大額:2100.0 最小額:2100.0
商品Vの最大額:2200.0 最小額:2200.0
商品Wの最大額:2300.0 最小額:2300.0
商品Xの最大額:2400.0 最小額:2400.0
商品Yの最大額:2500.0 最小額:2500.0
商品Zの最大額:2600.0 最小額:2600.0

# 顧客名の揺れ補正

In [22]:
kokyaku_data["顧客名"].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [23]:
uriage_data["customer_name"].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [24]:
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace("　", "")
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace(" ", "")
kokyaku_data["顧客名"].head()

0    須賀ひとみ
1     岡田敏也
2      芳賀希
3      荻野愛
4     栗田憲一
Name: 顧客名, dtype: object

# 日付揺れの修正

In [25]:
flg_is_serial = kokyaku_data["登録日"].astype("str").str.isdigit()
flg_is_serial.sum()

22

In [28]:
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "登録日"].astype("float"), unit="D") + pd.to_datetime("1900/01/01")
fromSerial

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 登録日, dtype: datetime64[ns]

In [29]:
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, "登録日"])
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
8     2018-02-12
9     2017-07-05
10    2018-03-31
11    2017-04-22
12    2018-03-09
13    2017-03-13
14    2018-01-24
15    2017-06-09
16    2018-05-02
17    2017-02-05
18    2018-07-10
19    2017-07-08
20    2018-03-12
22    2018-02-28
23    2017-05-16
24    2018-01-29
25    2017-03-17
26    2018-06-28
28    2018-05-21
29    2017-03-12
30    2018-07-01
31    2017-01-30
32    2018-02-06
33    2017-01-30
34    2018-04-21
         ...
165   2017-02-18
166   2018-03-04
167   2017-03-29
168   2018-07-02
169   2017-06-28
170   2018-05-27
171   2017-02-22
173   2017-02-05
174   2018-01-09
175   2017-06-12
176   2018-02-14
177   2017-04-14
178   2018-03-15
180   2018-07-19
181   2017-05-23
182   2018-05-01
184   2018-05-24
185   2017-04-08
187   2017-05-09
188   2018-07-22
189   2017-07-30
190   2018-06-14
191   2017-01-28
193   2017-05-05
194   2018-02-27
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [30]:
kokyaku_data["登録日"] = pd.concat([fromSerial, fromString])
kokyaku_data

       顧客名           かな  地域                         メールアドレス        登録日
0    須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com 2018-01-04
1     岡田敏也      おかだ としや  E市       okada_toshiya@example.com 2017-02-18
2      芳賀希       はが のぞみ  A市         haga_nozomi@example.com 2018-01-07
3      荻野愛       おぎの あい  F市            ogino_ai@example.com 2017-05-19
4     栗田憲一     くりた けんいち  E市      kurita_kenichi@example.com 2018-01-29
5     梅沢麻緒      うめざわ まお  A市         umezawa_mao@example.com 2017-06-20
6    相原ひとり     あいはら ひとり  H市       aihara_hitori@example.com 2018-06-11
7     新村丈史     にいむら たけし  B市     niimura_takeshi@example.com 2017-05-19
8    石川まさみ     いしかわ まさみ  G市     ishikawa_masami@example.com 2018-02-12
9     小栗正義     おぐり まさよし  G市     oguri_masayoshi@example.com 2017-07-05
10    大倉晃司     おおくら こうじ  E市        ookura_kouji@example.com 2018-03-31
11    那須蒼甫      なす そうすけ  A市        nasu_sousuke@example.com 2017-04-22
12   清水裕次郎    しみず ゆうじろう  C市    shimizu_yuujirou@example.com 2018-03-09
13   榊原しぼり    さかきばら しぼり  D市  sakakibara_shibori@example.com 2017-03-13
14    高沢美咲     たかさわ みさき  E市     takasawa_misaki@example.com 2018-01-24
15   川島友以乃     かわしま ゆいの  G市     kawashima_yuino@example.com 2017-06-09
16    唐沢景子     からさわ けいこ  D市      karasawa_keiko@example.com 2018-05-02
17    稲田将也      いなだ まさや  G市        inada_masaya@example.com 2017-02-05
18    秋葉あき       あきば あき  H市           akiba_aki@example.com 2018-07-10
19    西脇礼子     にしわき れいこ  H市     nishiwaki_reiko@example.com 2017-07-08
20   内村まさみ     うちむら まさみ  A市     uchimura_masami@example.com 2018-03-12
21     進藤瞬     しんどう しゅん  A市       shinndou_shun@example.com 2017-07-06
22     小口豊      おぐち ゆたか  H市       oguchi_yutaka@example.com 2018-02-28
23   笹原しぼり     ささはら しぼり  E市    sasahara_shibori@example.com 2017-05-16
24   岩佐孝太郎    いわさ こうたろう  D市      iwasa_koutarou@example.com 2018-01-29
25    河村由樹      かわむら ゆき  C市       kawamura_yuki@example.com 2017-03-17
26    菅原誠治     すがわら せいじ  C市      sugawara_seiji@example.com 2018-06-28
27     榎本薫     えのもと かおる  C市       enomoto_kaoru@example.com 2017-06-17
28    高梨結衣      たかなし ゆい  C市       takanashi_yui@example.com 2018-05-21
29     鶴岡薫     つるおか かおる  F市      tsuruoka_kaoru@example.com 2017-03-12
..     ...          ...  ..                             ...        ...
170   岩井莉緒       いわい りお  F市            iwai_rio@example.com 2018-05-27
171  大崎ヒカル     おおさき ひかる  E市       oosaki_hikaru@example.com 2017-02-22
172  矢沢恵梨香      やざわ えりか  G市        yazawa_erika@example.com 2018-03-24
173   石田郁恵      いしだ いくえ  B市         ishida_ikue@example.com 2017-02-05
174   荻野愛菜      おぎの あいな  B市          ogino_aina@example.com 2018-01-09
175   香椎優一     かしい ゆういち  H市      kashii_yuuichi@example.com 2017-06-12
176  黄川田博之    きかわだ ひろゆき  C市   kikawada_hiroyuki@example.com 2018-02-14
177   井村俊二     いむら しゅんじ  D市        imura_shunji@example.com 2017-04-14
178  植木沙知絵      うえき さちえ  F市         ueki_sachie@example.com 2018-03-15
179   小松隼士     こまつ しゅんじ  C市      komatsu_shunji@example.com 2017-01-10
180    松村聡     まつむら さとし  G市   matsumura_satoshi@example.com 2018-07-19
181   平賀一哉      ひらが かずや  B市       hiraga_kazuya@example.com 2017-05-23
182    手塚進      てづか すすむ  A市       teduka_susumu@example.com 2018-05-01
183    磯野希      いその のぞみ  B市        isono_nozomi@example.com 2017-07-26
184   白井俊二     しらい しゅんじ  H市       shirai_shunji@example.com 2018-05-24
185   笹川照生     ささがわ てるお  F市      sasagawa_teruo@example.com 2017-04-08
186   芦田博之     あしだ ひろゆき  E市     ashida_hiroyuki@example.com 2018-07-15
187   大地礼子      おおち れいこ  E市         oochi_reiko@example.com 2017-05-09
188    小町瞬      こまち しゅん  D市        komachi_shun@example.com 2018-07-22
189  水野メイサ      みずの めいさ  D市        mizuno_meisa@example.com 2017-07-30
190    板橋隆     いたばし たかし  B市    itabashi_takashi@example.com 2018-06-14
191   綾瀬俊介    あやせ しゅんすけ  B市      ayase_shunsuke@example.com 2017-01-28
192   和泉直人     わいずみ なおと  H市       waizumi_naoto@example.com 2018-06-10
193   堀北雅彦    ほりきた まさひこ  H市   horikita_masahiko@example.com 2017-05-05
194    唐沢涼     からさわ りょう  H市       karasawa_ryou@example.com 2018-02-27
195   川上りえ      かわかみ りえ  G市        kawakami_rie@example.com 2017-06-20
196   小松季衣      こまつ としえ  E市      komatsu_toshie@example.com 2018-06-20
197   白鳥りえ      しらとり りえ  F市       shiratori_rie@example.com 2017-04-29
198  大西隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com 2019-04-19
199   福井美希       ふくい みき  D市         fukui_miki1@example.com 2019-04-23

[200 rows x 5 columns]

In [32]:
kokyaku_data["登録年月"] = kokyaku_data["登録日"].dt.strftime("%Y%m")
rslt = kokyaku_data.groupby("登録年月").count()["顧客名"]
print(rslt)
print(len(kokyaku_data))

登録年月
201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 顧客名, dtype: int64
200

In [33]:
flg_is_serial = kokyaku_data["登録日"].astype("str").str.isdigit()
flg_is_serial.sum()

0